body{
  font-family: Century Gothic;
}

h1{
  font-family: Helvetica;
  width: 600px;
  font-size: 3em;
  color: black;
  cursor: pointer;
}

.backgroundbox{
  padding: 5px;
}

.button{
  width: 100px;
  height: 25px;
  font-size: 1em;
  text-align: center;
  padding-top: 3px;
  background-color: white;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #D0D0D0;
}

.button:hover{
  background-color: #F0F0F0;
}

.upperleftpanel{
  position: fixed;
  left: 0px;
  top: 0;
  height: 95px;
  width: 350px;
  background-color: #F0F0F0;
  padding: 10px;
  z-index: 9;
}

.upperrightpanel{
  color: black;
  position: fixed;
  right: 0px;
  top: 0;
  height: 95px;
  width: 345px;
  background-color: #F0F0F0;
  padding: 10px;
  z-index: 9;
}

.wrapper{
  
}