.mainpanel{
  position: relative;
  overflow: auto;
  left: 370px;
  top: 120px;
  width: auto;
  z-index: 8;
}

.postElement{
  width: 1100px;
  height: auto;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #D0D0D0;
  float: left;
}

.replyPostElement{
  width: 900px;
  min-height: 50px;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #D0D0D0;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postElement:hover{
  background-color: #F0F0F0;
}

.postElement.selected{
  background-color: #F0F0F0;
}

.userWrapper{
  width: 55px;
  height: 55px;
  margin: 5px;
  float: left;
  background-color: #70AD8D;
}

.contentWrapper{
  width: 900px;
  min-height: 55px;
  padding: 2px;
  margin: 5px;
  float: left;
  word-wrap: break-word;
}

.detailsWrapper{
  width: auto;
  height: 55px;
  bottom: 0px;
  padding: 10px;
}

.postData{
  height: 20px;
  font-size: 0.8em;
}

.responseForm{
  height: 20px;
  float: right;
}

/* Voting elements */

.votingWrapper{
  width: 80px;
  height: 50px;
  float: right;
}

.upvoteElement{
  width: 5px;
  height: 25px;
  background-color: #5DE820;
  float: left;
}

.downvoteElement{
  width: 5px;
  height: 25px;
  background-color: #B50D00;
  float: left;
}

.upvotingNumber{
  float: left;
  color: #5DE820;
}

.downvotingNumber{
  float: left;
  color: #B50D00;
}

/* Delete button */

.deletePost{
  float: right;
  width: 14px;
  height: 14px;
  text-decoration: none;
}

.deletePost:before{
  content: "x";
}

.deletePost:hover{
  color: red;
}