.toppanel{
  position: fixed;
  left: 375px;
  top: 0;
  height: 95px;
  width: calc(100% - 350px - 350px - 70px);
  background-color: #F0F0F0;
  padding: 10px;
  z-index: 9;
}

.categoryLabel{
  position: absolute;
  bottom: 0px;
  width: 300px;
  cursor: pointer;
}

.categoryWrapper{
  width: 100%;
  position: relative;
  bottom: 0px;
  height: 40px;
}

.category{
  float: left;
  color: black;
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 2px;
  margin-right: 30px;
  cursor: pointer;
}

.category:hover{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.topLink{
  float: right;
  color: black;
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 2px;
  margin-right: 30px;
  cursor: pointer;
}

.topLink:hover{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}