body{
    font-family: Helvetica;
}

table{
    border: 1px solid black;
    background-color: #FFFFFF;
}

.backgroundbox{
    background-color: #E0E0E0;
    border: 2px solid;
    border-radius: 2px;
    box-shadow: 10px 10px 5px #888888;
    padding: 5px;
}

.leftpanel{
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: #E0E0E0 ;
    border-left: 1px solid #353535;
    padding: 10px;
    z-index: 9;
}

.toppanel{
    position: fixed;
    left: 350px;
    top: 0;
    height: 50px;
    width: calc(100% - 350px);
    background-color: #E0E0E0 ;
    z-index: 9;
}

.mainpanel{
    position: relative;
    overflow: auto;
    left: 400px;
    top: 60px;
    width: calc(100% - 350px);
    z-index: 8;
}

/* Topic element */

.topicElement{
    width: 300px;
    height: 60px;
    background-color: #FFFFFF ;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
}

.topicWrapper{
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
}

.categoryWrapper{
    width: 230px;
    height: 40px;
    float: right;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
}

/* Post element */

.postElement{
    width: 1000px;
    height: 60px;
    background-color: appworkspace;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
}

.postElement.selected{
    width: 1000px;
    height: 120px;
    background-color: #C0C0C0;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
}

.userWrapper{
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
    background-color: #FFFFFF;
}

.contentWrapper{
    width: 930px;
    height: 40px;
    float: right;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
    background-color: #FFFFFF;
}

.detailsWrapper{
    position: relative;
    bottom: 0px;
    width: 1000px;
    height: 60px;
    top: 60px;
}

.responseForm{
    position: absolute;
}